{% extends 'base.html' %}
(% load static %}


{% block title %}
{% if category %}
     {{product.pname}} - ABC STORE
{% endif %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
     <div class="mx_auto">
          <p> <a href="{% url 'ecommerceapp:allproducts' %}">Home</a> | <a href="{{product.pcategory.get_url}}">{{product.pcategory}} </a>{{product.pname}}</p>
     </div>
</div>
<div class="container">
<br>
<div class="row">
     <div class="col-md-12 col-sm-12 col-md-12 col-lg-6 text-center">
          <div style="min-width:18rem">
               <img src="{{product.pimage.url}}" alt="{{product.pname}}" width="300px;" height="300px;">
          </div>
     </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
               <div>
               <h1 class="my_prod_title">{{product.pname}}</h1>
               <p>$ {{product.pprice}}</p>
               <p class="my_title">Product Description</p>
               <p class="text-justify my_prod_text">{{product.pdesc}}</p>
               {% if product.stock <= 0 %}
               <p class="text-justify my_prod_text"><b>Out of Stock !</b></p>
               {% else %}
               <a class="btn btn-secondary" href="{% url 'cartapp:add_cart' product.id %}">Add to Cart</a>
               {% endif %}
          </div>
                </div>
     </div>

</div>

{% endblock %}